body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fafafb;
}

header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafb;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

header h2 {
  color: #3a5088;
  margin-left: 180px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
  font-weight: bold;
  color: #6b7580;
  margin-right: 180px;
}

nav ul li a {
  color: #6b7580;
  text-decoration: none;
}

nav ul li a:hover {
  color: #222222;
  cursor: pointer;
}

header button {
  margin-right: 180px;
  width: 150px;
  height: 35px;
  color: #fafafb;
  background-color: #3a5088;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 50px 0px;
}

#hero-greetings {
  margin: 0px 0px 0px 300px;
}

#hero-greetings h1 {
  font-size: 40px;
  margin-top: -30px;
}

#hero-greetings p {
  margin-top: -10px;
  margin-right: 50px;
  line-height: 1.5;
  font-size: 20px;
}

#hero-greetings button {
  width: 150px;
  height: 35px;
  color: #fafafb;
  background-color: #3a5088;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#link {
  text-decoration: none;
  color: #fafafb;
}

#hero-img {
  margin: 0px 300px 20px 0px;
}

#companies {
  background-color: #3a5088;
  text-align: center;
  padding: 100px;
}

#contact {
  padding: 100px 0px 100px 0px;
}

#contact h1 {
  text-align: center;
  font-size: 30px;
}

#form {
  align-items: center;
  display: inline-block;
}

#form input {
  width: 80%;
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 0px 200px;
  border: 1px solid #222222;
  border-radius: 10px;
}

#check {
  margin-left: -750px;
}

#status {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  margin-left: 10px;
}

form button {
  width: 150px;
  height: 35px;
  color: #fafafb;
  background-color: #3a5088;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 0px 20px 200px;
  cursor: pointer;
}

#benefit {
  display: flex;
  padding: 200px 0px 200px 0px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#list {
  margin: -100px 0px 0px 50px;
  width: 500px;
}

#list h1 {
  font-size: 40px;
}

#list ol {
  list-style-type: "\2705";
  letter-spacing: 3px;
  line-height: 2;
  font-size: 20px;
}

footer {
  text-align: center;
  color: #fafafb;
  background-color: #222222;
  padding: 20px;
}
